/* hamburguer menu */
@media (max-width: 1024px) {
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    display: flex;
    justify-content: end;
    margin-top: 5%;
    margin-right: 20%;
    color: whitesmoke;
    cursor: pointer;  
  }

  header {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul .itens {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu .itens li {
    display: block;
    padding-top: 1.2rem;
    color: whitesmoke;
  }

}

@media (min-width: 320px) and (max-width: 1024px) {

.cookie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}  

}