@media (max-width: 1440px) {
    .cookie-container p {
        margin: 0;
    }
    #lead-content h1 {
        font-size: 3rem;
    }
    header ul {
        padding-inline: 5%;
        padding: 0;
    }
    header li {
        font-size: 1.2rem;
        padding: 0;
    }

    #about {
        height: auto;
    }
    
    #about p {
        margin-left: 20%;
    }

    #about ul,li {
        font-size: 1.6rem;
    }
     
    .service {
        height: auto;
    }
    .service-info {
        top: 35vh;
        height: auto;
    }
    .service-info h2 {
        font-size: 2rem;
        margin-bottom: 5%;
    }
    #services li {
        font-size: 1.5rem;
    }
    #services .top {
        margin: 0;
        margin-top: 1%;
        padding: 0;
    }
    #projects h3 {
        margin: 2%;
    }
    .project {
        height: 75vh;
    }
    .project-image {
        margin: 2%;
        padding: 0;
    }
    #contact {
        padding: 1%;
    }
    #contact h2 {
        margin: 4vh;
    }
    #contact-form {
        max-width: 400px;
    }
    #contact-form input,
    #contact-form textarea {
        width: 360px;
    }
    #contact-form textarea {
        height: 250px;
    }
    #contact-form button {
        display: block;
    }
    footer .copyright p {
        margin: auto;
        padding: 0;
    }
    footer .email p {
        margin: auto;
        padding: 0;
    }
}
/* laptop */
@media (max-width: 1024px) {
    .service {
        height: 80vh;
    }
    #services ul li{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .project {
        height: auto;
        margin: 1%;
    }
    #projects {
        height: auto;
    }
    #contact {
        margin: auto;
    }
    #contact-form {
        margin-left: 32%;
    }
    #contact .top {
        margin: auto;
        height: auto;
    }
    #contact .top span {
        margin: auto;
        height: auto;
    }
    footer{
        margin-left: 20%;
    }

}
/* tablet */
@media (max-width: 768px) {
    .service {
        height: 80vh;
    }
    .service-image {
        display: none;
    }
    .service-info h2 {
        font-size: 2rem;
        margin: 10%;
        margin-bottom: 5%;
    }
    .service-info {
        margin: 0;
        padding: 0;
    }
    #services {
        height: 100vh;
    }
    #services li {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    #services h3 {
        margin: 5%;
    }
    #services .top {
        margin: auto;
    }
    #services .top span {
        margin: auto;
    }
    #projects {
        height: auto;
        margin: auto;
    }
    #projects h3 {
        font-size: 2rem;
        margin: 1%;
    }
    #projects .top {
        margin: auto;
    }
    #projects .top span {
        margin: auto;
    }
    .project {
        height: auto;
        margin: 1%;
    }
    .project-info h2 {
        font-size: 1.5rem;
        margin: 1%;
    }
    .project-info p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 1%;
    }
    .project-info a {
        font-size: 1.5rem;
    }
    .project-info .btn {
        margin: auto;
    }
    .project-image {
        float: none;
    }
    #skills {
        height: 100vh;
    }
    #skills h2 {
        margin: 5%;
        font-size: 2.5rem;
    }
    #skills li {
        font-size: 1.2rem;
        margin: 3%;
    }
    #skills .top {
        margin: auto;
    }
    #skills .top span {
        margin: auto;
    }
    #contact {
        height: 90vh;
        margin: auto;
    }
    #contact-form {
        margin: auto;
        margin-left: 26%;
    }
    #contact .top {
        margin: auto;
    }
    #contact .top span {
        margin: auto;
    }
    #about {
        height: 125vh;
    }
    #about .top {
        margin: auto;
    }
    #about .top span {
        margin: auto;        
    }
    footer{
        font-size: 1.5rem;
        margin-left: 10%;
    }
}
/* celular */
@media (max-width: 425px) {
    .cookie-container {
        display: none;
    }
    header {
        margin-top: 5%;
    }
    header ul {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        }
    header li {
        margin: auto;
        font-size: 1.3rem;
    }
    #home {
        height: auto;
        margin: auto;
        background: rgba(121, 24, 242, 0.8);
        background: -webkit-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
        background: -o-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
        background: -moz-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
        background: linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    }
    #lead {
        background: none;
    }
    #lead-content {
        margin: auto;
    }
    #about {
        height: auto;
    }
    #about p {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        line-height: 2rem;
    }
    #about ul,li {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    #about .top {
        display: none;
    }
    .service {
        height: 80vh;
        margin: auto;
    }
    .service-info h2 {
        font-size: 1.5rem;
        margin-top: 5%;
    }
    #services {
        height: 100vh;
        margin: 1%;
    }
    #services ul li {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    #services h3 {
        font-size: 2rem;
        margin: 10%;
    }
    #services .top {
        display: none;
    }
    .project {
        height: 35vh;
        margin: 1%;
    }
    .project-info .btn {
        display: flex;
        flex-direction: column;
    }
    .project-info h2 {
        font-size: 1.5rem;
        margin: 1%;
    }
    .project-info p {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
    .project-image {
        display: none;
    }
    #projects {
        height: 100vh;
        margin: auto;
        padding: 0;
    }
    #projects h3 {
        margin: 1%;
    }
    #projects .top {
        display: none;
    }
    #contact-form {
        max-width: 200px;
        margin-left: 12vh;
    }
    #contact-form input,
    #contact-form textarea {
        width: 200px;
        font-size: 1.2rem;
    }
    #contact-form textarea {
        height: 150px;
    }
    #contact-form button {
        display: block;
        width: 200px;
        font-size: 1.2rem;
    }
    #contact {
        height: 70vh;
    }
    #contact .top {
        display: none;
    }
    #contact h2 {
        font-size: 1.5rem;
    }
    #skills {
        height: 80vh;
    }
    #skills .top {
        display: none;
    }
    footer .email p {
        margin-left: 10%;
    }
    footer .copyright p {
        margin-left: 10%;
    }
}
@media (max-width: 375px) {
    .service {
        height: 110vh;
    }
    .service-info h2 {
        font-size: 1.5rem;
    }
    #services {
        height: auto;
    }
    #services ul li {
        font-size: 1.5rem;
        line-height: 2rem;
    }    
    .project {
        height: auto;
        margin: 3px;
    }

    #projects {
        height: auto;
    }
    #skills {
        height: auto;
    }
    #contact {
        margin: auto;
    }
    #contact-form {
        margin: auto;
     }
    #contact-form input{
        font-size: 0.9rem;
    }
    #contact-form textarea{
        font-size: 0.9rem;
    }
}
@media (max-width: 320px) {
    .service-info h2 {
        font-size: 1.5rem;
    }
    #services ul li {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    #contact-form {
       margin: auto;
    }
    footer{
        font-size: 1.2rem;
        margin: auto;
    }
}
