/* resetando a configuração padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
    /*o padrão do root são 16px*/
}

body {
    font-family: "Chivo Mono", sans-serif;
    font-size: 1.6rem;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* menu */
header {
    top: 0;
    left: 0;
    right: 0;
    margin-top: 1%;;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    background: whitesmoke;
    margin: auto 30%;
    padding: 1%;
    border-radius: 15px;
    border-style: hidden;
}

header li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.8rem;
    margin: 0;
    padding: 1%;
    }

header a {
    color: #202020;
    padding: 1%;
    margin: 1%;
}

header a:hover {
    color: #0f9b0f;
    text-decoration: none;
    background: whitesmoke;
    border-radius: 4px;
}

header a:focus {
    color: #0f9b0f;
    text-decoration: none;
}

/* hamburguer menu */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    display: none;
    justify-content: end;
    margin-top: 5%;
    margin-right: 20%;
    color: whitesmoke;
    cursor: pointer;  
  }

.mobile-menu-icon {
    display: none;
  }

.mobile-menu {
    display: none;
}  

.open {
    display: block;
}

.home {
    height: 100vh;
}

.home h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 3em;
    margin-top: 35vh;
}

#about {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

#about h1 {
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 600;
    padding: 2%;
    margin: auto;
    text-decoration: underline;
    text-decoration-style: wavy;
}

#about p {
    color: whitesmoke;
    text-indent: 15%;
    text-align: justify;
    word-spacing: 0;
    padding: 5px;
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 15%;
    font-size: 2rem;
    word-break: break-word;
}

#about ul,li {
    color: whitesmoke;
    text-align: justify;
    padding: 5px;
    margin-left: 12%;
    margin-right: 8%;
    font-size: 1.8rem;
    line-height: 3.5rem;
    /* word-break: break-word; */
}

#about .top {
    text-align: center;
    margin: auto;
    padding: 1%;
}     

#about .top span {
    cursor: pointer;
    margin: auto;
}

#about .top i {
    color: #202020;
}

/* #services {
    display: grid;
    height: auto;
    margin: auto;
    padding: 1%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 80% 10%;
}

#services-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0;
    text-align: center;
    margin: 0;    
}   

#services h1 {
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 600;
    margin: 1%;
    padding: 1%;
}

#service-image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 10%;
    margin-left: 20%;
    padding: auto;
} 

#service-image img {
    width: 250px;
    height: 250px;
}

#services ul {
    width: auto;
    max-width: 650px;
    margin: auto;
    word-break: break-word;
}

#services li {
    margin-top: auto;
    margin-left: 30%;
    margin-right: 0;
    margin-bottom: auto;
    padding: 0;
    text-align: left;
    color: whitesmoke;
    list-style: disc;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

#service-info {
    padding: 3%;
    height: auto;
    width: 70%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    background-color: #000000;
    border-radius: 5pt;
    z-index: -1;
}

#service-info h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: whitesmoke;
    margin: 1%;
    margin-bottom: 3%;
    padding: 1%;
    text-align: center;
    
}

#services .top {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    margin: auto;
    padding: 3%;
}

#services .top span {
    cursor: pointer;
    margin: auto;    
}

#services .top i {
    color: #202020;
} */

#projects {
    display: grid;
    height: auto;
    margin: 1%;
    padding: 1%;
    grid-template-columns: auto auto;
    grid-template-rows: 10% auto auto auto auto;
}

#projects-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1%;
    text-align: center;
    margin: 1%;    
}

#projects h1 {
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

#projects h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: whitesmoke;
    margin: 0;
    padding: 1%;
    text-align: center;
}

#projects p {
    margin: 1%;
    color: lightgray;
    font-size: 1.6rem;
    word-break: break-word;
}

#projects a {
    font-size: 1.6rem;
    margin: 1%;
    background-color: #0f9b0f;
    border-color: #0f9b0f;
}

#projects img {
    border-radius: 5%;
    width: 300px;
    height: 250px;
}

#projects-button {
    text-align: center;
}

#project-image-stocks {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}    

#project-image-stocks img {
    height: 35vh;
}

#project-info-stocks {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 8%;
    margin-left: 3%;
    margin-right: 3%;
    color: lightgrey;
    background-color: #202020;
    border-radius: 5pt;
    height: 35vh;
}

#project-image-condominium {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#project-image-condominium img {
    height: 35vh;
}

#project-info-condominium {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    color: lightgray;
    background-color: #202020;
    border-radius: 5pt;
    height: 35vh;
}

#project-image-blog {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;    
}

#project-image-blog img {
    height: 35vh;
}

#project-info-blog {
    padding: 1%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-bottom: 8%;
    margin-left: 3%;
    margin-right: 3%;
    color: lightgray;
    height: 35vh;
    background-color: #202020;
    border-radius: 5pt;
}

#project-image-infoproducts {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

#project-image-infoproducts img {
    height: 35vh;
}

#project-info-infoproducts {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    color: lightgrey;
    height: 35vh;
    background-color: #202020;
    border-radius: 5pt;
} 

#projects .top {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: center;
    margin: auto;
    padding: 1%;
}

#projects .top span {
    cursor: pointer;
    margin: auto;
}

#projects .top i {
    color: #202020;
}

#skills {
    display: flexbox;
    text-align: center;
    height: 100vh;
}

#skills h1 {
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 600;
    padding: 3%;
    margin: auto; 
}

#skills ul {
    margin: 0 auto;
    padding: 0;
    max-width: 980px;
}

#skills li {
    display: inline-block;
    margin: 2.5%;
    padding: 20px 25px;
    color: whitesmoke;
    background: black;
    border-radius: 5px;
    list-style: none;
    cursor: default;
    font-size: 1.8rem;
}

#skills .top {
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

#skills .top span {
    cursor: pointer;
    margin: auto;
}

#skills .top i {
    color: #202020;
}

#contact {
    display: flexbox;
    text-align: center;
    height: auto;
}

#contact h1 {
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 600;
    padding: 2%;
    margin: auto; 
    margin-top: 3%;   
}

#contact-form {
    height: auto;
    max-width: 1024px;
    margin: auto;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: whitesmoke;
    color: #140c25;
    transition: 0.5s ease all;
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #140c25;
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #140c25;
    opacity: 1;
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #140c25;
    opacity: 1;
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #140c25;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #d2cbe0;
}

#contact-form textarea {
    height: 350px;
    resize: none;
}

#contact-form button {
    display: block;
    width: 100%;
    max-width: 1024px;
    background: #0f9b0f;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: whitesmoke;
    font-weight: 550;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s ease all;
}

#contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#contact .top {
    margin: auto;
    padding: 1%;
}

#contact .top span {
    cursor: pointer;
    margin: auto;
}

#contact .top i {
    color: #202020;
}

footer {
    display: flex;
    font-weight: 600;
    text-align: center;
    margin: 1%;
    margin-left: 10%;
}

footer .copyright p {
    color: whitesmoke;
    margin: auto;
    text-align: center;
    height: auto;
}

footer .email p {
    color: whitesmoke;
    margin: auto;
    text-align: center;
}
.cookie-container {
    position: fixed;
    bottom: -1000%;       
}

.cookie-container.active {
    margin: 1%;
    padding: 1%;
    width: auto;
    color: whitesmoke;
    left: 0;
    right: 0;
    bottom: 0;
    background: #202020;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0);
    transition: 400ms; 
}

.cookie-container p {
    text-align: justify;
    font-size: 1rem;
    margin: auto;
    padding: auto;
}

.cookie-btn {
    background: #f5f6fa;
    border: 0;
    color: #202020;
    padding: 1%;
    margin: auto;
    font-size: 1rem;
    border-radius: 2pt;
    cursor: pointer;
}