html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
    /*o padrão do root são 16px*/
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
}

body.active {
    overflow: hidden;
    z-index: -1;
}

.no-js #experience-timeline>div {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9;
}

.no-js #experience-timeline>div h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0;
}

.no-js #experience-timeline>div h4 {
    font-size: 1.2rem;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}

.no-js #experience-timeline>div p {
    color: #74808a;
    font-size: 0.9rem;
    margin: 0;
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none;
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
    margin-top: 4vh;
}

header ul {
    display: inline-block;
    background: whitesmoke;
    text-align: center;
    padding-inline: 60px;
    margin: 0;
    border-radius: 15px;
    border-style: ridge;
}

header li {
    display: inline-block;
    font-size: 1.8rem;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

header a {
    display: block;
    color: #374054;
    padding: 8px;
}

header a:hover {
    color: #217dbb;
    text-decoration: none;
    background: whitesmoke;
    border-radius: 4px;
}

header a:focus {
    color: #3498db;
    text-decoration: none;
}

header.active {
    display: block;
}

header.sticky {
    position: fixed;
    z-index: 999;
}

#menu.active {
    display: block;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.heading:after {
    position: absolute;
    content: "";
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
}

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: rgba(121, 24, 242, 0.8);
    background: -webkit-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: -o-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: -moz-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    padding: 15px;
    overflow: hidden;
}

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#lead-content h1,
#lead-content h2 {
    margin: 0;
}

#lead-content h1 {
    color: #fff;
    font-weight: 900;
    font-size: 3.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

#about {
    display: flexbox;
    padding: 5%;
    border-bottom: 1px solid #dcd9d9;
    background: whitesmoke;
    height: 100vh;
}

#about h2 {
    position: relative;
    color: #374054;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10vh;
}

#about h2:after {
    position: absolute;
    content: "";
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
}

#about p {
    color: rgb(17, 17, 17, 10);
    text-align: justify;
    padding: 10px;
    margin-left: 350px;
    margin-right: 350px;
    font-size: 2.2rem;
    line-height: 3.5rem;
}

#about .top {
    text-align: center;
    margin-top: 15vh;
}

#about .top span {
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-top: 45vmax;
    margin-left: 43vmax;
}

#about .top i {
    color: black;
}

#services {
    display: flexbox;
    border-bottom: 1px solid #dcd9d9;
    background: rgba(121, 24, 242, 0.8);
    background: -webkit-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: -o-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: -moz-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    text-align: center;
    height: 100vh;
}

#services h3 {
    display: flexbox;
    color: lightgray;
    font-weight: 400;
    padding: 0;
    margin: 30px;
}

#services .top {
    text-align: center;
    margin-top: 3%;
}

#services .top span {
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-top: 45vmax;
    margin-left: 48vmax;
}

#services .top i {
    color: whitesmoke;
}

#services ul {
    display: flexbox;
    position: relative;
    width: 90%;
    max-width: 650px;
}

#services li {
    display: flexbox;
    position: relative;
    margin-top: 0;
    margin-left: 10px;
    padding: 1px;
    text-align: left;
    color: lightgray;
    list-style: disc;
    font-size: 1.7rem;
    line-height: 3rem;
}

.service {
    display: flexbox;
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 980px;
    overflow: hidden;
    background: black;
    border-radius: 10px;
    border-style: groove;
    height: 60vh;
}

.service-info {
    display: flexbox;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    margin-left: 350px;
    padding: 20px;
    height: 55vh;
}

.service-info h2 {
    display: flexbox;
    font-size: 2.5rem;
    font-weight: 400;
    color: lightgray;
    margin-top: 5%;
    margin-bottom: 5%;
}

.service-image {
    display: flexbox;
    margin: 8%;
    float: left;
}

.no-image .service-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none;
}

#more-services {
    display: none;
}

#projects {
    background: #140c25;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
    height: 200vh;
}

#projects .top {
    text-align: center;
    margin-top: 5vh;
}

#projects .top span {
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-left: 48vmax;
}

#projects .top i {
    color: whitesmoke;
}

#projects h3 {
    color: lightgray;
    font-weight: 400;
    padding: 0;
    margin: 60px;
}

.project {
    display: flexbox;
    margin: 10px;
    width: 90%;
    max-width: 48%;
    background: whitesmoke;
    border-radius: 10px;
    border-style: groove;
    height: 65vh;
}

.project-image {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 2px;
    float: left;
    width: auto;
    height: auto;
    border-style: groove;
    border-radius: 8px;
}

.project-info {
    margin-bottom: 0;
    padding: 0;
}

.project-info h2 {
    font-size: 2rem;
    font-weight: 400;
    color: black;
    margin-top: 55px;
    margin-right: 20px;
}

.project-info p {
    color: #74808a;
    padding: 10px;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: left;
}

.project-info a {
    font-size: 1.5rem;
}

.no-image .project-info {
    margin: 0;
    padding: 30px 15px;
    transform: none;
}

#more-projects {
    display: none;
}

#skills {
    padding: 25px 15px;
    background: whitesmoke;
    text-align: center;
    height: 100vh;
}

#skills .top {
    text-align: center;
    margin-top: 15vh;
}

#skills .top span {
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-top: 45vmax;
    margin-left: 47vmax;
}

#skills .top i {
    color: black;
}

#skills h2 {
    color: #374054;
    margin: 50px;
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 980px;
}

#skills li {
    display: inline-block;
    margin: 25px;
    padding: 10px 15px;
    color: whitesmoke;
    background: black;
    border-radius: 5px;
    list-style: none;
    cursor: default;
    font-size: 1.8rem;
}

#contact {
    background: rgba(121, 24, 242, 0.8);
    background: -webkit-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: -o-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: -moz-linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    background: linear-gradient(-45deg, rgba(172, 50, 228, 0.8), rgba(121, 24, 242, 0.8), rgba(72, 1, 255, 0.8));
    padding: 15px 15px;
    text-align: center;
    align-items: center;
    height: 96vh;
}

#contact .top {
    text-align: center;
    margin-top: 5vh;
    margin-left: 2vh;
}

#contact .top span {
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-top: 45vmax;
    margin-left: 44vmax;
}

#contact .top i {
    color: black;
}

#contact h2 {
    margin: 2vh;
    margin-right: 12vh;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

#contact-form {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 90%;
    max-width: 600px;
    padding: 15px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: whitesmoke;
    color: #140c25;
    transition: 0.5s ease all;
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #140c25;
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #140c25;
    opacity: 1;
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #140c25;
    opacity: 1;
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #140c25;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #d2cbe0;
}

#contact-form textarea {
    height: 350px;
    resize: none;
}

#contact-form button {
    display: block;
    width: 90%;
    max-width: 600px;
    background: #bfafdd;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #140c25;
    font-weight: 550;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s ease all;
}

#contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

footer {
    display: block;
}

footer .copyright p {
    color: #74808a;
    margin-left: 35%;
    margin-right: 0;
}

footer .email p {
    color: #74808a;
    margin-left: 35%;
}

.cookie-container {
    position: fixed;
    bottom: -1000%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: rgb(240, 231, 231);
    padding: 5px 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0);
    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container p {
    margin-right: 10%;
    margin-top: 0;
    padding-bottom: 0;
    text-align: justify;
}

.cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-left: 10%;
    border-radius: 8px;
    cursor: pointer;
}